.langs {
  z-index: 2;
  position: fixed;
  margin: 1rem;
  top: max(0px, (100vh - 1024px) / 2);
  right: max(0px, (100vw - 1440px) / 2);
}

.activeMenuItem {
  background: #ffd74080 !important;
  cursor: default;
}
