:host {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(106, 63, 46, 0.35);
}

main {
  height: 100%;
}

.polygon {
  position: relative;
  display: flex;
  column-gap: 10%;
  height: 100%;
  margin-inline: calc(calc(100vw - 1000px) / 2);
  background-image: url("../../../assets/shapes/bg2d3d.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  .d2, .d3 {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    flex-wrap: wrap;
    margin-top: 20%;
    width: 45%;
    height: 30%;
    padding-top: 2rem;
    padding-inline: 3rem 2rem;
    background-color: transparent;
    //background-color: #ffffff80;
  }


  .d2 {
    //clip-path: polygon(28.08% -1.76%, 100.51% 1.04%, 86.36% 72.26%, 0.34% 75.15%, 0.53% 62.99%);
  }

  .d3 {
    //clip-path: polygon(6.12% -0.62%, 78.03% -0.34%, 100.32% 47.84%, 99.9% 74.47%, 20.40% 71.36%);
  }

}

.shapes {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  width: 100%;
}

::ng-deep .cdk-overlay-pane {
  width: 600px;
  height: 400px;
}
