<app-menu-button></app-menu-button>

<main cdkDropListGroup>
  <div class="polygon">
    <div cdkDropList
         cdkDropListSortingDisabled
         class="d2"
         [cdkDropListData]="polygon"
         (cdkDropListDropped)="drop($event)">
      <img *ngFor="let shape of polygon"
           src="assets/shapes/{{shape.name}}.png"
           cdkDrag
           alt="" width="80px" height="80px">
    </div>
    <div cdkDropList
         cdkDropListSortingDisabled
         class="d3"
         [cdkDropListData]="polyhedron"
         (cdkDropListDropped)="drop($event)">
      <img *ngFor="let shape of polyhedron"
           src="assets/shapes/{{shape.name}}.png"
           cdkDrag
           alt="" width="80px" height="80px">
    </div>
  </div>

  <div cdkDropList
       cdkDropListOrientation="horizontal"
       [cdkDropListData]="shapes"
       (cdkDropListDropped)="drop($event)"
       class="shapes">
    <img *ngFor="let shape of shapes"
         src="assets/shapes/{{shape.name}}.png"
         cdkDrag
         alt="" width="80px" height="80px">
  </div>
</main>
