:host {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: var(--main-bg);
}

main {
  position: relative;
  background-image: url("../../../assets/coins/bg-full.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1440px;
  height: 100vh;

  h2 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #BB99DD;
    margin-left: 50px;
    width: 400px;
    text-align: center;
    border-radius: 8px;
    font-size: 2.5rem;
    color: #401940;
    padding: 1rem;
  }

  button {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;

    &.fluffy {
      top: 36%;
      left: 36.2%;
      transform: translateX(-36.2%);
    }

    &.dog {
      top: 39%;
      left: 59.5%;
      transform: translateX(-59.5%);
    }

    &.bird {
      top: 61%;
      left: 27%;
      transform: translateX(-27%);
    }

    &.cat {
      bottom: 22%;
      left: 54%;
      transform: translateX(-54%);
    }
  }
}
