:host {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
}

main {
  position: relative;
  background-image: url("../../../../src/assets/coins/bg-full.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1440px;
  height: 100vh;

  h2 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #BB99DD;
    margin-left: 50px;
    width: 500px;
    text-align: center;
    border-radius: 8px;
    font-size: 2.5rem;
    color: #401940;
    padding: 1rem;
  }

  button {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    background-color: transparent;
    opacity: .4;

    &.fluffy {
      top: 36%;
      left: 32%;
      transform: translateX(-32%);
    }

    &.dog {
      top: 39%;
      left: 62%;
      transform: translateX(-62%);
    }

    &.bird {
      top: 61%;
      left: 20%;
      transform: translateX(-20%);
    }

    &.cat {
      bottom: 22%;
      left: 55%;
      transform: translateX(-55%);
    }
  }
}
