:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 3rem;
  position: relative;
}

.main-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/main/main.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--main-bg);
  filter: sepia(.3) saturate(.5) hue-rotate(30deg);
  transition: all .3s;

  &:has(~ a>button:hover) {
    filter: none;
  }
}

a > button {
  padding: 2rem;
  width: 400px;
}

::ng-deep .mdc-button__label {
  font-size: 1.5rem;
}

