<a class="shapes" routerLink="shapes">
  <button mat-raised-button color="primary">
    <mat-icon>interests</mat-icon>
    <ng-container i18n>{{"MAIN.SHAPE_SORTING" | translate}}</ng-container>
  </button>
</a>

<a class="compare" routerLink="compare">
  <button mat-raised-button color="primary">
    <mat-icon>balance</mat-icon>
    number comparison
  </button>
</a>

<a class="coins" routerLink="coins">
  <button mat-raised-button color="primary">
    <mat-icon>monetization_on</mat-icon>
    coins game
  </button>
</a>

<lang-panel></lang-panel>
