:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 3rem;
}


a {
  padding: 2rem 1rem;
  text-align: center;
  width: 20rem;
  background-color: #bb2c2c;
}
