<div class="main-bg">
  <img src="assets/main/shapes.webp" alt="" class="shapes">
  <img src="assets/main/comparison.webp" alt="" class="comparison">
  <img src="assets/main/coins.webp" alt="" class="coins">
</div>

<a class="shapes" routerLink="shapes">
  <button mat-raised-button color="primary">
    <mat-icon>interests</mat-icon>
    <ng-container i18n>{{"main.shape_sorting" | translate}}</ng-container>
  </button>
</a>

<a class="comparison" routerLink="compare">
  <button mat-raised-button color="primary">
    <mat-icon>balance</mat-icon>
    {{"main.number_comparison" | translate}}
  </button>
</a>

<a class="coins" routerLink="coins">
  <button mat-raised-button color="primary">
    <mat-icon>monetization_on</mat-icon>
    {{"main.coins_game" | translate}}
  </button>
</a>

<lang-panel></lang-panel>
