:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  row-gap: 3rem;
}

a > button {
  padding: 2rem;
  width: 400px;
}

::ng-deep .mdc-button__label {
  font-size: 1.5rem;
}

.langs {
  z-index: 2;
  position: fixed;
  margin: 1rem;
  top: 0;
  right: 0;
}
