@import "src/styles/vars";
@import "src/styles/theme";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  //overflow-x: hidden;
}

img {
  user-select: none;
  max-width: 100%;
}

button,
button:focus {
  border-style: none;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

:target {
  outline: 5px red;
  outline-offset: 5px;
}
