:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../../src/assets/shapes/2d3dbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(106, 63, 46, 0.35);
  background-size: contain;
}
